.footer {
  background-color: #f8f9fa;
  color: #6c757d;
  text-align: center;
  padding: 0.75rem 0;
  font-size: 0.875rem;
  position: fixed;
  bottom: 0;
  left: 201px; /* Corrigido para alinhar com a sidebar */
  width: calc(100% - 201px); /* Corrigido para preencher até a sidebar */
  box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.1);
}
